{
  "openapi": "3.1.0",
  "info": {
    "title": "lemon.markets Brokerage API 🍋",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://sandbox.api.lemon.markets/v1",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Accounts: General"
    },
    {
      "name": "Businesses"
    },
    {
      "name": "Batch Orders"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Taxes"
    },
    {
      "name": "Treasury Mandates"
    },
    {
      "name": "Workflows",
      "description": "Use workflows to perform repetitive tasks automatically."
    },
    {
      "name": "Money + Positions"
    },
    {
      "name": "Persons"
    },
    {
      "name": "Securities Accounts"
    },
    {
      "name": "Events + Webhooks"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Corporate Actions"
    },
    {
      "name": "Instruments"
    },
    {
      "name": "Accounts: ID+V"
    },
    {
      "name": "Cash Settlement"
    },
    {
      "name": "Trades"
    }
  ],
  "paths": {
    "/accounts/{account}/accept_agreement": {
      "post": {
        "summary": "Accept Agreement",
        "operationId": "accept_agreement",
        "tags": [
          "Accounts: General"
        ],
        "parameters": [
          {
            "name": "account",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_c2c3f89ec0524b6e818ce00c16e4897f",
            "description": "An account identifier.\n"
          },
          {
            "required": true,
            "schema": {
              "title": "Lmg-Data-Privacy-Access-Principal",
              "type": "string"
            },
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header"
          },
          {
            "required": true,
            "schema": {
              "title": "Lmg-Data-Privacy-Access-Justification",
              "type": "string"
            },
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptAgreementRequest"
              },
              "example": {
                "person": "pers_8ec894e1ec764a339e172292dff9aeff",
                "agreement": "agr_8ec894e1ec764a339e172292dff9aeff",
                "accepted_at": "2023-06-29T14:39:29Z"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptAgreementResponse"
                },
                "examples": {
                  "person_customer": {
                    "summary": "Person customer account",
                    "value": {
                      "cash_account": {
                        "bic": "BYLADEM1001",
                        "iban": "DE02120300000000202051"
                      },
                      "customer": {
                        "type": "person",
                        "id": "pers_8ec894e1ec764a339e172292dff9aeff",
                        "person": "pers_8ec894e1ec764a339e172292dff9aeff"
                      },
                      "declaration_of_acting_on_own_account": true,
                      "history": [
                        {
                          "status": "created",
                          "timestamp": "2023-06-12T17:23:16.975969+00:00"
                        }
                      ],
                      "id": "cusa_c2c3f89ec0524b6e818ce00c16e4897f",
                      "securities_account": {
                        "number": "000000044"
                      },
                      "status": "created",
                      "agreements": [
                        {
                          "agreement": "agr_9902271f791d413aad781763c61b9bb0",
                          "accepted_at": "2023-06-29T14:39:29Z",
                          "person": "pers_8ec894e1ec764a339e172292dff9aeff"
                        },
                        {
                          "agreement": "agr_8ec894e1ec764a339e172292dff9aeff",
                          "accepted_at": "2023-06-29T14:39:29Z",
                          "person": "pers_8ec894e1ec764a339e172292dff9aeff"
                        }
                      ]
                    }
                  },
                  "business_customer": {
                    "summary": "Business customer account",
                    "value": {
                      "cash_account": {
                        "bic": "BYLADEM1001",
                        "iban": "DE02120300000000202051"
                      },
                      "customer": {
                        "type": "business",
                        "id": "le_3a0baf04657b4fb9bcaa03d8120b5e9e",
                        "business": "le_3a0baf04657b4fb9bcaa03d8120b5e9e"
                      },
                      "declaration_of_acting_on_own_account": true,
                      "history": [
                        {
                          "status": "created",
                          "timestamp": "2023-06-12T17:23:16.975969+00:00"
                        }
                      ],
                      "id": "cusa_c2c3f89ec0524b6e818ce00c16e4897f",
                      "securities_account": {
                        "number": "000000044"
                      },
                      "status": "created",
                      "agreements": [
                        {
                          "agreement": "agr_9902271f791d413aad781763c61b9bb0",
                          "accepted_at": "2023-06-29T14:39:29Z",
                          "person": "le_3a0baf04657b4fb9bcaa03d8120b5e9e"
                        },
                        {
                          "agreement": "agr_8ec894e1ec764a339e172292dff9aeff",
                          "accepted_at": "2023-06-29T14:39:29Z",
                          "person": "le_3a0baf04657b4fb9bcaa03d8120b5e9e"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/businesses/{business_id}/beneficial_owners": {
      "post": {
        "summary": "Add Beneficial Owner",
        "operationId": "add_beneficial_owner",
        "tags": [
          "Businesses"
        ],
        "parameters": [
          {
            "name": "business_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Business Identifier",
              "description": "A business identifier.\n"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BeneficialOwnerRequest"
              },
              "example": {
                "shares_pct": "100",
                "voting_rights_pct": "100",
                "person": "pers_310212a629b2429cacfdc09d212fa87a",
                "type": "real"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficialOwnerResponse"
                },
                "example": {
                  "id": "ubo_ea20564620af48a4af367aca2ade4d91",
                  "shares_pct": "100",
                  "voting_rights_pct": "100",
                  "person": "pers_310212a629b2429cacfdc09d212fa87a",
                  "nature": "real"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      },
      "get": {
        "summary": "List Beneficial Owners",
        "operationId": "list_beneficial_owners",
        "tags": [
          "Businesses"
        ],
        "parameters": [
          {
            "name": "business_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Business Identifier"
            },
            "description": "A business identifier.\n"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Cursor"
            },
            "description": "A pagination cursor.  When you receive a paginated response containing the property `pagination.next_cursor`, you can pass its value here to get the next page of results for your query.\nA cursor will include filter parameters, so there is not need to specify both the `cursor` and any other filter parameter.\n"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 100,
              "title": "Limit"
            },
            "description": "In order to customize the number of elements returned, you can provide a limit here.  The service will not return more elements than specified.\n"
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncodedPaginatedCollectionResponse_BeneficialOwnerResponse_"
                },
                "example": {
                  "data": [
                    {
                      "id": "ubo_ea20564620af48a4af367aca2ade4d91",
                      "shares_pct": "100",
                      "voting_rights_pct": "100",
                      "person": "pers_310212a629b2429cacfdc09d212fa87a",
                      "type": "real"
                    }
                  ],
                  "pagination": {
                    "next_cursor": null
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      }
    },
    "/businesses/{business_id}/legal_representatives": {
      "post": {
        "summary": "Add Legal Representative",
        "operationId": "add_legal_representative",
        "tags": [
          "Businesses"
        ],
        "parameters": [
          {
            "name": "business_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Business Identifier",
              "description": "A business identifier.\n"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegalRepresentativeRequest"
              },
              "example": {
                "person": "pers_310212a629b2429cacfdc09d212fa87a",
                "representation_rule": "sole_representation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalRepresentativeResponse"
                },
                "example": {
                  "id": "rep_b4831949b797401bbc037a03f9a64d79",
                  "person": "pers_310212a629b2429cacfdc09d212fa87a",
                  "representation_rule": "sole_representation"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      },
      "get": {
        "summary": "List Legal Representatives",
        "operationId": "list_legal_representatives",
        "tags": [
          "Businesses"
        ],
        "parameters": [
          {
            "name": "business_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Business Identifier",
              "description": "A business identifier.\n"
            }
          },
          {
            "name": "cursor",
            "required": false,
            "schema": {
              "title": "Cursor",
              "type": "string"
            },
            "description": "A pagination cursor.  When you receive a paginated response containing the property `pagination.next_cursor`, you can pass its value here to get the next page of results for your query.\nA cursor will include filter parameters, so there is not need to specify both the `cursor` and any other filter parameter.\n",
            "in": "query"
          },
          {
            "name": "limit",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100,
              "minimum": 1,
              "default": 100,
              "type": "integer"
            },
            "in": "query",
            "description": "In order to customize the number of elements returned, you can provide a limit here.  The service will not return more elements than specified.\n"
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncodedPaginatedCollectionResponse_LegalRepresentativeResponse_"
                },
                "example": {
                  "data": [
                    {
                      "id": "rep_b4831949b797401bbc037a03f9a64d79",
                      "person": "pers_310212a629b2429cacfdc09d212fa87a",
                      "representation_rule": "sole_representation"
                    }
                  ],
                  "pagination": {
                    "next_cursor": null
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      }
    },
    "/accounts/{account_id}/batch_orders/{order_id}/cancel": {
      "post": {
        "summary": "Cancel Batch Order",
        "tags": [
          "Batch Orders"
        ],
        "operationId": "cancel_batch_order",
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_c2c3f89ec0524b6e818ce00c16e4897f",
            "description": "An account identifier.\n"
          },
          {
            "name": "order_id",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Order Identifier"
            },
            "in": "path",
            "example": "bord_0fef2e8b7962404d94454d8c47caa364",
            "description": "A batch order identifier.\n"
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                },
                "example": {
                  "amount": "500.00",
                  "appropriateness_check": {
                    "consent_confirmed_at": null,
                    "consent_required": false
                  },
                  "created_at": "2024-04-12T13:44:37.315658+00:00",
                  "currency": "EUR",
                  "fee": "1.00",
                  "history": [
                    {
                      "status": "canceling",
                      "timestamp": "2024-04-12T13:50:41.639338+00:00"
                    },
                    {
                      "status": "accepted",
                      "timestamp": "2024-04-12T13:49:34.496380+00:00"
                    },
                    {
                      "status": "confirmed",
                      "timestamp": "2024-04-12T13:49:33.266583+00:00"
                    },
                    {
                      "status": "created",
                      "timestamp": "2024-04-12T13:44:37.315658+00:00"
                    }
                  ],
                  "id": "bord_61931714f0a44809bc423fccc82ccbbd",
                  "instrument": "IE00BYXYX521",
                  "quantity": null,
                  "regulatory_disclosures": {
                    "entry_costs": "1.00",
                    "entry_costs_pct": "0.20",
                    "estimated_amount": "500.00",
                    "estimated_price": "28.6399",
                    "estimated_quantity": "17.45816",
                    "exit_costs": "1.00",
                    "exit_costs_pct": "0.20",
                    "impact_final_year": "1.00",
                    "impact_final_year_pct": "0.20",
                    "impact_first_year": "1.00",
                    "impact_first_year_pct": "0.20",
                    "impact_subsequent_year": "0.95",
                    "impact_subsequent_year_pct": "0.19",
                    "kid": "https://kid.sandbox.lemon.markets/2023-11-17/IE00BYXYX521-5f534eec417153a5f638ad091f0a2962.pdf",
                    "product_costs": "0.95",
                    "product_costs_pct": "0.19",
                    "running_costs": "0.95",
                    "running_costs_pct": "0.19",
                    "service_costs_total": "1.15",
                    "service_costs_total_pct": "0.23",
                    "third_party_grants": "0.15",
                    "third_party_grants_pct": "0.03"
                  },
                  "sca": {
                    "challenge": "b42BB63kg24UPKLFX5CiMA==",
                    "required": false
                  },
                  "side": "buy",
                  "status": "canceling"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      }
    },
    "/accounts/{account_id}/orders/{order_id}/cancel": {
      "post": {
        "summary": "Cancel Order",
        "operationId": "cancel_order",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_20323d55bb264d42b0b225d293591049",
            "description": "An account identifier.\n"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Order Identifier"
            },
            "description": "An order identifier.\n"
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      }
    },
    "/accounts/{account_id}/tax_exemption_orders/{tax_exemption_order_id}/cancel": {
      "post": {
        "summary": "Cancel Tax Exemption Order",
        "operationId": "cancel_tax_exemption_order",
        "tags": [
          "Taxes"
        ],
        "parameters": [
          {
            "name": "tax_exemption_order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Tax Exemption Order Identifier"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Account Identifier"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxExemptionOrderResponse"
                },
                "example": {
                  "amount_total": "123.45",
                  "currency": "EUR",
                  "history": [
                    {
                      "status": "canceling",
                      "timestamp": "2024-11-27T13:21:21.537340+00:00"
                    },
                    {
                      "status": "accepted",
                      "timestamp": "2024-11-27T12:27:27.369001+00:00"
                    },
                    {
                      "status": "created",
                      "timestamp": "2024-11-27T12:27:26.162280+00:00"
                    }
                  ],
                  "id": "tax_ex_7ed656e0438b47e192469e162d158408",
                  "type": "individual",
                  "valid_from": "2024",
                  "valid_until": null
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      }
    },
    "/accounts/{account_id}/treasury_mandates/{mandate_id}/cancel": {
      "post": {
        "summary": "Cancel Treasury Mandate",
        "description": "Cancel a treasury mandate",
        "operationId": "cancel_treasury_mandate",
        "tags": [
          "Treasury Mandates"
        ],
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_20323d55bb264d42b0b225d293591049",
            "description": "An account identifier.\n"
          },
          {
            "name": "mandate_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Mandate Id"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TreasuryMandateResponse"
                },
                "example": {
                  "id": "trs_mand_bb176dfbabe14c6c9bb35eaf3342d223",
                  "instrument": "IE0008643037",
                  "redirect_failure": "my-app:/failure",
                  "redirect_success": "my-app:/success",
                  "history": [
                    {
                      "status": "canceled",
                      "timestamp": "2025-05-08T16:10:04.321121+00:00"
                    },
                    {
                      "status": "created",
                      "timestamp": "2025-05-08T15:59:20.701735+00:00"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      }
    },
    "/accounts/{account_id}/workflows/{workflow_id}/cancel": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Cancel Workflow",
        "operationId": "cancel_workflow",
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_20323d55bb264d42b0b225d293591049",
            "description": "An account identifier.\n"
          },
          {
            "name": "unified_orders",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Unified Orders"
            },
            "description": "Use new unified `order` API instead of the `batch_order` API.\n"
          },
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Workflow Identifier"
            },
            "description": "A workflow identifier.\n"
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerWorkflowResponse"
                },
                "example": {
                  "action": {
                    "amount": "1.25",
                    "currency": "EUR",
                    "fee": "0.00",
                    "instrument": "LU0290358497",
                    "side": "buy",
                    "type": "batch_order.create_and_confirm"
                  },
                  "history": [
                    {
                      "status": "canceled",
                      "timestamp": "2024-04-23T11:30:20.434025+00:00"
                    },
                    {
                      "status": "created",
                      "timestamp": "2024-04-23T11:00:12.152244+00:00"
                    }
                  ],
                  "id": "wf_f2aa90bcc16a43ddb2098c8a5da9f55b",
                  "trigger": {
                    "cadence": "monthly",
                    "type": "schedule"
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      }
    },
    "/accounts/{account_id}/batch_orders/{order_id}/confirm": {
      "post": {
        "summary": "Confirm Batch Order",
        "tags": [
          "Batch Orders"
        ],
        "operationId": "confirm_batch_order",
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_c2c3f89ec0524b6e818ce00c16e4897f",
            "description": "An account identifier.\n"
          },
          {
            "name": "order_id",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Order Identifier"
            },
            "in": "path",
            "example": "bord_0fef2e8b7962404d94454d8c47caa364",
            "description": "A batch order identifier.\n"
          },
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            },
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header"
          },
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            },
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmBatchOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                },
                "example": {
                  "amount": "50.00",
                  "appropriateness_check": {
                    "consent_confirmed_at": "2023-07-14T17:31:00.495533+00:00",
                    "consent_required": true
                  },
                  "created_at": "2023-07-14T16:35:19.203369+00:00",
                  "currency": "EUR",
                  "fee": "0.50",
                  "history": [
                    {
                      "status": "confirmed",
                      "timestamp": "2023-07-14T17:31:00.467252+00:00"
                    },
                    {
                      "status": "created",
                      "timestamp": "2023-07-14T16:35:19.203369+00:00"
                    }
                  ],
                  "id": "bord_0fef2e8b7962404d94454d8c47caa364",
                  "instrument": "IE00B441G979",
                  "quantity": null,
                  "regulatory_disclosures": {
                    "entry_costs": "0.50",
                    "entry_costs_pct": "1.00",
                    "estimated_price": "50.00",
                    "estimated_quantity": "0.67911",
                    "exit_costs": "0.50",
                    "exit_costs_pct": "1.00",
                    "impact_final_year": "0.50",
                    "impact_final_year_pct": "1.00",
                    "impact_first_year": "0.50",
                    "impact_first_year_pct": "1.00",
                    "impact_subsequent_year": "0.28",
                    "impact_subsequent_year_pct": "0.55",
                    "kid": "https://mocked.test/kid/IE00B441G979.pdf",
                    "product_costs": "0.28",
                    "product_costs_pct": "0.55",
                    "running_costs": "0.28",
                    "running_costs_pct": "0.55",
                    "service_costs_total": "0.50",
                    "service_costs_total_pct": "1.00",
                    "third_party_grants": "0.00",
                    "third_party_grants_pct": "0.00"
                  },
                  "sca": {
                    "required": false,
                    "challenge": "am9icy5sZW1vbi5tYXJrZXRz"
                  },
                  "side": "buy",
                  "status": "confirmed"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/orders/{order_id}/confirm": {
      "post": {
        "summary": "Confirm Order",
        "operationId": "confirm_order",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_20323d55bb264d42b0b225d293591049",
            "description": "An account identifier.\n"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Order Identifier"
            },
            "description": "An order identifier.\n"
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      }
    },
    "/accounts/{account_id}/withdrawals/{withdrawal_id}/confirm": {
      "post": {
        "summary": "Confirm Withdrawal",
        "tags": [
          "Money + Positions"
        ],
        "operationId": "confirm_withdrawal",
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_20323d55bb264d42b0b225d293591049",
            "description": "An account identifier.\n"
          },
          {
            "name": "withdrawal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Withdrawal Identifier",
              "description": "A withdrawal identifier.\n"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmWithdrawalRequest"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalResponse"
                },
                "example": {
                  "amount": "12.34",
                  "created_at": "2023-08-31T16:41:01.825087+00:00",
                  "currency": "EUR",
                  "history": [
                    {
                      "status": "confirmed",
                      "timestamp": "2023-08-31T16:41:30.636649+00:00"
                    },
                    {
                      "status": "created",
                      "timestamp": "2023-08-31T16:41:01.825087+00:00"
                    }
                  ],
                  "id": "wtd_50d0271f9fd143adb4d6e3af8962ed4d",
                  "receiving_account": {
                    "bic": "COBADEFFXXX",
                    "iban": "DE89370400440532013000"
                  },
                  "sca": {
                    "challenge": "idpMw_UsyU31awFi81Atyw==",
                    "required": false
                  },
                  "status": "confirmed"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      }
    },
    "/accounts/{account_id}/workflows/{workflow_id}/confirm": {
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Confirm Workflow",
        "operationId": "confirm_workflow",
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_20323d55bb264d42b0b225d293591049",
            "description": "An account identifier.\n"
          },
          {
            "name": "unified_orders",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Unified Orders"
            },
            "description": "Use new unified `order` API instead of the `batch_order` API.\n"
          },
          {
            "name": "workflow_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Workflow Identifier"
            },
            "description": "A workflow identifier.\n"
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmCustomerWorkflowRequest"
              },
              "example": {
                "appropriateness_consent": true,
                "sca": {
                  "client_credential_id": "local_authenticator_id",
                  "signature": "<base64>"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerWorkflowResponse"
                },
                "example": {
                  "action": {
                    "amount": "5.00",
                    "currency": "EUR",
                    "fee": "0.10",
                    "instrument": "IE00BYXYX521",
                    "side": "buy",
                    "type": "batch_order.create_and_confirm"
                  },
                  "history": [
                    {
                      "status": "confirmed",
                      "timestamp": "2024-04-19T07:49:22.783350+00:00"
                    },
                    {
                      "status": "created",
                      "timestamp": "2024-04-19T07:34:37.359894+00:00"
                    }
                  ],
                  "id": "wf_acb4235bf09342b6a3b3d1401ae7576f",
                  "trigger": {
                    "cadence": "monthly",
                    "type": "schedule"
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Server Error"
          }
        }
      }
    },
    "/accounts": {
      "post": {
        "tags": [
          "Accounts: General"
        ],
        "summary": "Create Account",
        "operationId": "create_account",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Lmg-Data-Privacy-Access-Principal",
              "type": "string"
            },
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header"
          },
          {
            "required": true,
            "schema": {
              "title": "Lmg-Data-Privacy-Access-Justification",
              "type": "string"
            },
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              },
              "example": {
                "accepted_agreements": [
                  {
                    "accepted_at": "2023-06-29T14:39:29Z",
                    "agreement_id": "agr_9902271f791d413aad781763c61b9bb0"
                  },
                  {
                    "accepted_at": "2023-06-29T14:39:29Z",
                    "agreement_id": "agr_8ec894e1ec764a339e172292dff9aeff"
                  }
                ],
                "customer": {
                  "date_of_birth": "1964-08-13",
                  "email": "erika.mustermann@example.com",
                  "employment": {
                    "annual_salary": "gte_50k_lt_75k_eur",
                    "sector": "public_sector",
                    "status": "employed"
                  },
                  "firstname": "Erika",
                  "gender": "female",
                  "lastname": "Mustermann",
                  "marital_status": "married",
                  "nationalities": [
                    "DE"
                  ],
                  "phone_number": "+49172997318",
                  "place_of_birth": {
                    "city": "Berlin",
                    "country": "DE"
                  },
                  "registered_address": {
                    "city": "Köln",
                    "country": "DE",
                    "line_1": "Heidestraße 17",
                    "postal_code": "51147"
                  },
                  "tax_residencies": [
                    {
                      "country": "DE",
                      "tax_identification_number": "123/456/78901"
                    }
                  ]
                },
                "declaration_of_acting_on_own_account": true,
                "metadata": {
                  "origin_id": "origin_example",
                  "reference_account": "REF123"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAccountResponse"
                },
                "example": {
                  "id": "cusa_c2c3f89ec0524b6e818ce00c16e4897f",
                  "cash_account": null,
                  "customer": {
                    "id": "pers_8e3c698265484edbaca82ae52c9fabd7",
                    "date_of_birth": "1964-08-13",
                    "email": "erika.mustermann@example.com",
                    "employment": {
                      "annual_salary": "gte_50k_lt_75k_eur",
                      "sector": "public_sector",
                      "status": "employed"
                    },
                    "firstname": "Erika",
                    "gender": "female",
                    "lastname": "Mustermann",
                    "marital_status": "married",
                    "nationalities": [
                      "DE"
                    ],
                    "phone_number": "+49172997318",
                    "place_of_birth": {
                      "city": "Berlin",
                      "country": "DE"
                    },
                    "registered_address": {
                      "city": "Köln",
                      "country": "DE",
                      "line_1": "Heidestraße 17",
                      "line_2": null,
                      "postal_code": "51147"
                    },
                    "tax_residencies": [
                      {
                        "country": "DE",
                        "tax_identification_number": "123/456/78901"
                      }
                    ]
                  },
                  "declaration_of_acting_on_own_account": true,
                  "history": [
                    {
                      "status": "created",
                      "timestamp": "2023-06-29T14:43:03.937676+00:00"
                    }
                  ],
                  "securities_account": null,
                  "status": "created",
                  "metadata": {
                    "origin_id": "origin_example",
                    "reference_account": "REF123"
                  },
                  "agreements": [
                    {
                      "agreement": "agr_9902271f791d413aad781763c61b9bb0",
                      "accepted_at": "2023-06-29T14:39:29Z",
                      "person": "pers_8e3c698265484edbaca82ae52c9fabd7"
                    },
                    {
                      "agreement": "agr_8ec894e1ec764a339e172292dff9aeff",
                      "accepted_at": "2023-06-29T14:39:29Z",
                      "person": "pers_8e3c698265484edbaca82ae52c9fabd7"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Accounts",
        "operationId": "list_accounts",
        "tags": [
          "Accounts: General"
        ],
        "parameters": [
          {
            "name": "cursor",
            "required": false,
            "schema": {
              "title": "Cursor",
              "type": "string"
            },
            "description": "A pagination cursor.  When you receive a paginated response containing the property `pagination.next_cursor`, you can pass its value here to get the next page of results for your query.\nA cursor will include filter parameters, so there is not need to specify both the `cursor` and any other filter parameter.\n",
            "in": "query"
          },
          {
            "name": "limit",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "type": "integer",
              "default": 100
            },
            "in": "query",
            "description": "In order to customize the number of elements returned, you can provide a limit here.  The service will not return more elements than specified.\n"
          },
          {
            "name": "status",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CustomerAccountStatus"
            },
            "in": "query",
            "description": "Provide an account status to filter results on a single account status.\n"
          },
          {
            "name": "person_customer",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If set to `true`, returns a simplified person customer object containing only the type and person ID, instead of the full customer details. The parameter will be **deprecated in a future version** of this API. Once deprecated, all responses will behave as if `person_customer=true`.\n"
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "required": true,
            "schema": {
              "title": "Lmg-Data-Privacy-Access-Principal",
              "type": "string"
            },
            "in": "header"
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "required": true,
            "schema": {
              "title": "Lmg-Data-Privacy-Access-Justification",
              "type": "string"
            },
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_CustomerAccountResponse_"
                },
                "examples": {
                  "full_customer": {
                    "summary": "Full customer details (default)",
                    "value": {
                      "data": [
                        {
                          "cash_account": {
                            "bic": "BYLADEM1001",
                            "iban": "DE02120300000000202051"
                          },
                          "customer": {
                            "date_of_birth": "1950-01-01",
                            "email": "john.doe@example.com",
                            "employment": {
                              "annual_salary": "lt_50k_eur",
                              "sector": "agriculture",
                              "status": "apprenticeship"
                            },
                            "firstname": "John",
                            "gender": "male",
                            "lastname": "Doe",
                            "marital_status": "single",
                            "nationalities": [
                              "DE"
                            ],
                            "phone_number": "+49123123123",
                            "place_of_birth": {
                              "city": "Berlin",
                              "country": "DE"
                            },
                            "registered_address": {
                              "city": "Berlin",
                              "country": "DE",
                              "line_1": "Kottbusser Damn 79",
                              "line_2": null,
                              "postal_code": "12345"
                            },
                            "tax_residencies": [
                              {
                                "country": "DE",
                                "tax_identification_number": "123123123"
                              }
                            ]
                          },
                          "declaration_of_acting_on_own_account": true,
                          "history": [
                            {
                              "status": "created",
                              "timestamp": "2023-06-12T17:23:16.975969+00:00"
                            }
                          ],
                          "id": "cusa_20323d55bb264d42b0b225d293591049",
                          "securities_account": {
                            "number": "000000044"
                          },
                          "status": "created",
                          "agreements": [
                            {
                              "agreement": "agr_9902271f791d413aad781763c61b9bb0",
                              "accepted_at": "2023-06-29T14:39:29Z",
                              "person": "pers_f1e3a7f504414b5e99041ebc1c0f55cd"
                            },
                            {
                              "agreement": "agr_8ec894e1ec764a339e172292dff9aeff",
                              "accepted_at": "2023-06-29T14:39:29Z",
                              "person": "pers_f1e3a7f504414b5e99041ebc1c0f55cd"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "simplified_person": {
                    "summary": "Simplified person customer (person_customer=true)",
                    "value": {
                      "data": [
                        {
                          "cash_account": {
                            "bic": "BYLADEM1001",
                            "iban": "DE02120300000000202051"
                          },
                          "customer": {
                            "type": "person",
                            "id": "pers_f1e3a7f504414b5e99041ebc1c0f55cd",
                            "person": "pers_f1e3a7f504414b5e99041ebc1c0f55cd"
                          },
                          "declaration_of_acting_on_own_account": true,
                          "history": [
                            {
                              "status": "created",
                              "timestamp": "2023-06-12T17:23:16.975969+00:00"
                            }
                          ],
                          "id": "cusa_20323d55bb264d42b0b225d293591049",
                          "securities_account": {
                            "number": "000000044"
                          },
                          "status": "created",
                          "agreements": [
                            {
                              "agreement": "agr_9902271f791d413aad781763c61b9bb0",
                              "accepted_at": "2023-06-29T14:39:29Z",
                              "person": "pers_f1e3a7f504414b5e99041ebc1c0f55cd"
                            },
                            {
                              "agreement": "agr_8ec894e1ec764a339e172292dff9aeff",
                              "accepted_at": "2023-06-29T14:39:29Z",
                              "person": "pers_f1e3a7f504414b5e99041ebc1c0f55cd"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "business_customer": {
                    "summary": "Business customer account",
                    "value": {
                      "data": [
                        {
                          "cash_account": {
                            "bic": "BYLADEM1001",
                            "iban": "DE02120300000000202051"
                          },
                          "customer": {
                            "type": "business",
                            "id": "le_3a0baf04657b4fb9bcaa03d8120b5e9e",
                            "business": "le_3a0baf04657b4fb9bcaa03d8120b5e9e"
                          },
                          "declaration_of_acting_on_own_account": true,
                          "history": [
                            {
                              "status": "created",
                              "timestamp": "2023-06-12T17:23:16.975969+00:00"
                            }
                          ],
                          "id": "cusa_20323d55bb264d42b0b225d293591049",
                          "securities_account": {
                            "number": "000000044"
                          },
                          "status": "created",
                          "agreements": [
                            {
                              "agreement": "agr_9902271f791d413aad781763c61b9bb0",
                              "accepted_at": "2023-06-29T14:39:29Z",
                              "person": "pers_f1e3a7f504414b5e99041ebc1c0f55cd"
                            },
                            {
                              "agreement": "agr_8ec894e1ec764a339e172292dff9aeff",
                              "accepted_at": "2023-06-29T14:39:29Z",
                              "person": "pers_f1e3a7f504414b5e99041ebc1c0f55cd"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/authenticators": {
      "post": {
        "summary": "Create Authenticator",
        "operationId": "create_authenticator",
        "tags": [
          "Accounts: General"
        ],
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_c2c3f89ec0524b6e818ce00c16e4897f",
            "description": "An account identifier.\n"
          },
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            },
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header"
          },
          {
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            },
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthenticatorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Authenticators",
        "operationId": "list_authenticators",
        "tags": [
          "Accounts: General"
        ],
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_c2c3f89ec0524b6e818ce00c16e4897f",
            "description": "An account identifier.\n"
          },
          {
            "name": "cursor",
            "required": false,
            "schema": {
              "title": "Cursor",
              "type": "string"
            },
            "description": "A pagination cursor.  When you receive a paginated response containing the property `pagination.next_cursor`, you can pass its value here to get the next page of results for your query.\nA cursor will include filter parameters, so there is not need to specify both the `cursor` and any other filter parameter.\n",
            "in": "query"
          },
          {
            "name": "limit",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "type": "integer",
              "default": 100
            },
            "in": "query",
            "description": "In order to customize the number of elements returned, you can provide a limit here.  The service will not return more elements than specified.\n"
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            },
            "in": "header"
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            },
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncodedPaginatedCollectionResponse_AuthenticatorResponse_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/batch_orders": {
      "post": {
        "summary": "Create Batch Order",
        "tags": [
          "Batch Orders"
        ],
        "operationId": "create_batch_order",
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string",
              "description": "An account identifier.\n"
            },
            "in": "path",
            "example": "cusa_c2c3f89ec0524b6e818ce00c16e4897f"
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            },
            "in": "header"
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            },
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchOrderResponse"
                },
                "example": {
                  "amount": "50.00",
                  "appropriateness_check": {
                    "consent_confirmed_at": null,
                    "consent_required": true
                  },
                  "created_at": "2023-07-14T16:35:19.203369+00:00",
                  "currency": "EUR",
                  "fee": "0.50",
                  "history": [
                    {
                      "status": "created",
                      "timestamp": "2023-07-14T16:35:19.203369+00:00"
                    }
                  ],
                  "id": "bord_0fef2e8b7962404d94454d8c47caa364",
                  "instrument": "IE00B441G979",
                  "quantity": null,
                  "regulatory_disclosures": {
                    "entry_costs": "0.50",
                    "entry_costs_pct": "1.00",
                    "estimated_price": "50.00",
                    "estimated_quantity": "0.67911",
                    "exit_costs": "0.50",
                    "exit_costs_pct": "1.00",
                    "impact_final_year": "0.50",
                    "impact_final_year_pct": "1.00",
                    "impact_first_year": "0.50",
                    "impact_first_year_pct": "1.00",
                    "impact_subsequent_year": "0.28",
                    "impact_subsequent_year_pct": "0.55",
                    "kid": "https://mocked.test/kid/IE00B441G979.pdf",
                    "product_costs": "0.28",
                    "product_costs_pct": "0.55",
                    "running_costs": "0.28",
                    "running_costs_pct": "0.55",
                    "service_costs_total": "0.50",
                    "service_costs_total_pct": "1.00",
                    "third_party_grants": "0.00",
                    "third_party_grants_pct": "0.00"
                  },
                  "sca": {
                    "required": false,
                    "challenge": "am9icy5sZW1vbi5tYXJrZXRz"
                  },
                  "side": "buy",
                  "status": "created"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Batch Orders",
        "operationId": "list_batch_orders",
        "tags": [
          "Batch Orders"
        ],
        "parameters": [
          {
            "name": "account_id",
            "required": true,
            "schema": {
              "title": "Account Identifier",
              "type": "string"
            },
            "in": "path",
            "example": "cusa_c2c3f89ec0524b6e818ce00c16e4897f",
            "description": "An account identifier.\n"
          },
          {
            "name": "cursor",
            "required": false,
            "schema": {
              "title": "Cursor",
              "type": "string"
            },
            "description": "A pagination cursor.  When you receive a paginated response containing the property `pagination.next_cursor`, you can pass its value here to get the next page of results for your query.\nA cursor will include filter parameters, so there is not need to specify both the `cursor` and any other filter parameter.\n",
            "in": "query"
          },
          {
            "name": "limit",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100,
              "exclusiveMinimum": 0,
              "type": "integer",
              "default": 100
            },
            "in": "query",
            "description": "In order to customize the number of elements returned, you can provide a limit here.  The service will not return more elements than specified.\n"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderStatus",
              "title": "Status",
              "description": "Use this parameter to filter for batch orders of one specific status.\n"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            },
            "in": "header"
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            },
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_BatchOrderResponse_"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "5XX": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/businesses": {
      "post": {
        "summary": "Create Business",
        "operationId": "create_business",
        "tags": [
          "Businesses"
        ],
        "parameters": [
          {
            "name": "LMG-Data-Privacy-Access-Principal",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Principal"
            }
          },
          {
            "name": "LMG-Data-Privacy-Access-Justification",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Lmg-Data-Privacy-Access-Justification"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRequest"
              },
              "example": {
                "currency": "EUR",
                "expected_annual_revenue": "123456.78",
                "fatca_relevant": false,
                "industry": {
                  "nace_rev": "2.1",
                  "code": "T.96.22"
                },
                "name": "Beeswax UG (haftungsbeschränkt)",
                "nfe_type": "active",
                "registered_address": {
[...]
